.standard-btn{
    height: 5rem;
    padding: 0 3rem;
    font-size: 17pt;
}
/* =============== HEADER =============== */
.header .navbar ul li{
    font-size: 25pt;
    font-weight: 700;
}

/* =============== HOME =============== */
.home img{
    width: 15rem;
}
.home h1{
    font-size: 22pt;
}
.home p{
    font-size: 15pt;
}
.home button{
    margin-top: 8vh;
}


/* =============== BLACK BACKGROUND =============== */


/* =============== ABOUT =============== */
.about p{
    line-height: 2;
}


/* =============== PRE CODE =============== */
.pre-code{
    height: 28rem;
}
.pre-code img, .pre-code code pre{
    height: 28rem;
    width: 28rem;
}
.pre-code code pre{
    padding: 5rem 2rem;
}


/* =============== PROJECTS =============== */
.mobile-device img{
    width: 35vw;
    height: 90%;
}